ace_tools_open==0.1.0
aiohappyeyeballs
aiohttp
aiosignal
alembic==1.15.1
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.8.0
argon2-cffi
argon2-cffi-bindings
arrow
asgiref==3.8.1
asteroid-filterbanks==0.4.0
asttokens
async-lru
async-timeout==4.0.3
attrs
audioread
av==14.2.0
babel
backcall
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4
bertopic==0.16.4
bleach
blinker==1.9.0
blis==1.2.0
Brotli
build==1.2.2.post1
cached-property
cachetools==5.5.2
catalogue==2.0.10
certifi
cffi
charset-normalizer
chroma-hnswlib==0.7.6
chromadb==0.6.3
click==8.1.8
cloudpathlib==0.21.0
colorama
coloredlogs==15.0.1
colorlog==6.9.0
comm
confection==0.1.5
contourpy
ctranslate2==4.4.0
cycler
cymem==2.0.11
dataclasses-json==0.6.7
datasets
debugpy
decorator
defusedxml
Deprecated==1.2.18
dill
distro==1.9.0
docopt==0.6.2
durationpy==0.9
einops==0.8.1
exceptiongroup==1.2.2
executing
fastapi==0.115.11
faster-whisper==1.1.0
fastjsonschema
filelock
flatbuffers==25.2.10
fonttools
fqdn
frozenlist
fsspec
gensim==4.3.3
gitdb==4.0.12
GitPython==3.1.44
gmpy2
google-auth==2.38.0
googleapis-common-protos==1.69.0
greenlet==3.1.1
grpcio==1.70.0
gTTS==2.5.4
h11==0.14.0
h2
hdbscan==0.8.40
hpack
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface_hub
humanfriendly==10.0
hyperframe
HyperPyYAML==1.2.2
idna
importlib_metadata==8.5.0
importlib_resources
ipykernel
ipython
ipywidgets==8.1.5
isoduration
itables==2.2.5
jedi
Jinja2
jiter==0.8.2
joblib
json5
jsonpatch==1.33
jsonpickle==4.0.2
jsonpointer==3.0.0
jsonschema
jsonschema-specifications
julius==0.2.7
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets==3.0.13
kiwisolver
kubernetes==32.0.1
langchain==0.3.20
langchain-chroma==0.2.2
langchain-community==0.3.19
langchain-core==0.3.41
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.6
langcodes==3.5.0
langsmith==0.3.11
language_data==1.3.0
lazy_loader
librosa
lightning==2.5.0.post0
lightning-utilities==0.13.1
llvmlite==0.43.0
Mako==1.3.9
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe
marshmallow==3.26.1
matplotlib==3.9.4
matplotlib-inline
mdurl==0.1.2
mistune
mmh3==5.1.0
monotonic==1.6
more-itertools==10.6.0
mpmath
msgpack
multidict
multiprocess
munkres==1.1.4
murmurhash==1.0.12
mypy-extensions==1.0.0
narwhals==1.29.1
nbclient
nbconvert
nbformat
nest_asyncio
networkx
nltk==3.9.1
notebook_shim
numba
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
# nvidia-nccl-cu12
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.2
ollama==0.4.7
omegaconf==2.3.0
onnxruntime==1.19.2
openai==1.65.4
openai-whisper @ git+https://github.com/openai/whisper.git@517a43ecd132a2089d85f4ebc044728a71d49f6e
opentelemetry-api==1.30.0
opentelemetry-exporter-otlp-proto-common==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-instrumentation==0.51b0
opentelemetry-instrumentation-asgi==0.51b0
opentelemetry-instrumentation-fastapi==0.51b0
opentelemetry-proto==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
opentelemetry-util-http==0.51b0
optuna==4.2.1
orjson==3.10.15
overrides==7.7.0
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pkgutil_resolve_name
platformdirs
plotly==6.0.0
pooch
posthog==3.18.1
preshed==3.0.9
primePy==1.3
prometheus_client
prompt_toolkit
propcache
protobuf==5.29.3
psutil
pt_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.8.0/pt_core_news_lg-3.8.0-py3-none-any.whl#sha256=2561c9a72a938d37141e9694e1a36d25061a44ce7e4f3bad2d3fa3bb836191af
ptyprocess
pulsar-client==3.6.1
pure_eval
pyannote.audio==3.3.2
pyannote.core==5.0.0
pyannote.database==5.1.3
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybind11
pybind11_global
pycparser
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
pydeck==0.9.1
pydub==0.25.1
Pygments==2.19.1
pynndescent==0.5.13
pyparsing
PyPDF2==3.0.1
PyPika==0.48.9
pyproject_hooks==1.2.0
PySocks
python-dateutil
python-dotenv==1.0.1
python-json-logger
pytorch-lightning==2.5.0.post0
pytorch-metric-learning==2.8.1
pytz
pyvis==0.3.2
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339_validator
rfc3986-validator
rich==13.9.4
rpds-py
rsa==4.9
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
safetensors
scikit-learn
scipy==1.13.1
seaborn==0.13.2
semver==3.0.4
Send2Trash
sentence-transformers
sentencepiece==0.2.0
shellingham==1.5.4
six
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile
soupsieve
soxr
spacy==3.8.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speechbrain==1.0.2
SQLAlchemy==2.0.38
srsly==2.5.1
stack_data
starlette==0.46.0
streamlit==1.43.1
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
tensorboardX==2.6.2.2
terminado
thinc==8.3.4
threadpoolctl
tiktoken==0.9.0
tinycss2
tokenizers
toml==0.10.2
tomli==2.2.1
torch==2.6.0
torch-audiomentations==0.12.0
torch_pitch_shift==1.2.5
torchaudio==2.6.0
torchmetrics==1.6.2
torchvision==0.21.0
tornado
tqdm
traitlets
transformers
#triton==3.2.0
typer==0.15.2
types-python-dateutil
typing-inspect==0.9.0
typing_extensions
tzdata
umap-learn==0.5.7
unicodedata2
uri-template
urllib3
uvicorn==0.34.0
# uvloop==0.21.0
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.0.4
wcwidth
weasel==0.4.1
webcolors
webencodings
webrtcvad
websocket-client==1.8.0
websockets==15.0.1
whisperx==3.3.1
widgetsnbextension==4.0.13
wordcloud==1.9.4
wrapt==1.17.2
xxhash
yarl
zipp
zstandard==0.23.0